<?xml version='1.0' encoding='utf-8'?>
<widget id="com.geo.geofencing" version="1.0.0"  xmlns:android = "http://schemas.android.com/apk/res/android"  xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>GeoFencing</name>
    <description>
        App for geofencing
    </description>
    <author email="dafale.nikhil@gmail.com" href="">
        #n!k.h
    </author>
    <content src="index.html" />
    <access origin="*" />
    <engine name="browser" spec="~5.0.4" />
    <engine name="android" spec="~7.0.0" />
    <plugin name="cordova-plugin-geolocation" spec="^4.0.1" />
    <config-file platform="android" parent="/manifest" mode="merge">
        <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
        <uses-feature android:name="android.hardware.location.gps" />
    </config-file>
</widget>
