<?xml version='1.0' encoding='utf-8'?>
<widget id="com.geo.geofencing" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>GeoFencing</name>
    <description>
        App for geofencing
    </description>
    <author email="dafale.nikhil@gmail.com" href="">
        #n!k.h
    </author>
    <content src="index.html" />
    <access origin="*" />
    <engine name="browser" spec="~5.0.4" />
    <plugin name="cordova-plugin-geolocation" spec="~4.0.1" />
</widget>
